<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
<!-- 	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>
 -->
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<% @courses.each_with_index do |course, index| %>
			<div class="item <%= index == 0 ? 'active' : '' %>">
				<div class="dealform">
					<div class="sepratedeals row">
						<div class="image col-md-4">
							<%= image_tag course.avatar.url(:medium) %>
						</div>
						<div class="courseinfo col-md-4">
							<h3><%= course.name %></h3>
							<h4><%= course.address + " " + course.city + " " + course.state %></h4>
							<h4><%= course.phone %></h4>
						</div>
						<div class="times col-md-4">
						<h3>Offers</h3>
							<% if player_signed_in? %>
								<% course.teetimes.each do |time| %>
									Valid Starting: <%= time.starttime.strftime("%b %d %Y %I:%M %p") %> <br>
						    		Expires: <%= time.endtime.strftime("%b %d %Y %I:%M %p") %> <br>
						    		$<%= time.cost %>0 <br>
						    		<%= time.holes %> holes <hr>
						    	<% end %>
						    <% elsif course_signed_in? %>
						    	<% course.teetimes.each do |time| %>
									Valid Starting: <%= time.starttime.strftime("%b %d %Y %I:%M %p") %> <br>
						    		Expires: <%= time.endtime.strftime("%b %d %Y %I:%M %p") %> <br>
						    		$<%= time.cost %>0 <br>
						    		<%= time.holes %> holes <hr>
						    	<% end %>	
							<% else %>
								<h3 id="tease">Log In to see offers!</h3>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>  
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
	</a>
</div>

<div align="center" class="alloffers">
<h1>ALL OFFERS</h1>
	<% @courses.each do |course| %>
		<% if player_signed_in? %>
			<h1><%= course.name %></h1>
			<% course.teetimes.each do |time| %>
				Valid Starting: <%= time.starttime.strftime("%b %d %Y %I:%M %p") %> <br>
	    		Expires: <%= time.endtime.strftime("%b %d %Y %I:%M %p") %> <br>
	    		$<%= time.cost %>0 <br>
	    		<%= time.holes %> holes <hr>
	    	<% end %>
	    <% elsif course_signed_in? %>
	    	<% course.teetimes.each do |time| %>
				Valid Starting: <%= time.starttime.strftime("%b %d %Y %I:%M %p") %> <br>
	    		Expires: <%= time.endtime.strftime("%b %d %Y %I:%M %p") %> <br>
	    		$<%= time.cost %>0 <br>
	    		<%= time.holes %> holes <hr>
	    	<% end %>	
		<% else %>
			<h3 id="tease">Create an Account for just $5 a month or Login to see exclusive discount!</h3>
		<% end %>
	<% end %>
</div>
