<%= form_for @teetimes do |f| %>

  <div class="field">
    <%= f.label :time, "Date and Tee Time" %><br />
    <%= f.select_field :time, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cost, "Price" %><br />
    <%= f.text_field :cost %>
  </div>
  
  <%= f.label :holes, "Select number of holes" %><br />
  <%= f.select :holes, ["9 holes", "18 holes"] %>
  
  <div class="actions">
    <%= f.submit "Create Discount" %>
  </div>

<% end %>
