<div class="dealform row">
	<div class="image col-md-4">
		<%= image_tag @course.avatar.url(:medium) %>
	</div>
    <div class="courseinfo col-md-4">
      <h3><%= @course.name %></h3>
      <h4><%= @course.address + " " + @course.city + " " + @course.state %></h4>
      <h4><%= @course.phone %></h4>
    </div>
    <div class="times col-md-4">
    <h3>Upcoming Offers</h3>
    	<% @times.each do |time| %>
    		<%= time.starttime.strftime("%b %d %Y %I:%M %p") %> <br>
    		<%= time.endtime.strftime("%b %d %Y %I:%M %p") %> <br>
    		$<%= time.cost %>0 <br>
    		<%= time.holes %> holes <br>

    		<%= link_to 'Delete', teetime_path(time), method: :delete, class: "offerbtn" %>
    		<%= link_to 'Edit Offer', edit_teetime_path(time), class: "offerbtn" %> <hr>
    	<% end %>
    </div><br>
    <!-- Button trigger modal -->
	<button type="button" class="offerbtn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Create New Offer
	</button>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Offer</h4>
      </div>
      <div class="modal-body">
        <%= render "courses/tee_times_form"%>
      </div>
    </div>
  </div>
</div>


