<div class="dealform">
	<div class="image">
		<%= image_tag @course.avatar.url(:medium) %>
	</div>
    <div class="courseinfo">
      <h3><%= @course.name %></h3>
      <h4><%= @course.address + " " + @course.city + " " + @course.state %></h4>
      <h4><%= @course.phone %></h4>
    </div>
    <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Create New Offer
	</button>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Offer</h4>
      </div>
      <div class="modal-body">
        <%= render "courses/tee_times_form"%>
      </div>
    </div>
  </div>
</div>
