<!DOCTYPE html>
<html>
  <head>
    <title>Golfdeals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <a href="/">><h1 id="name" >Daily Golf Deals</h1></a>
    <div class="homebtns">
      <%= link_to "Golf Course Create Account", "#{request.base_url}/courses/sign_up", :class => "btn" %>
      <%= link_to "Golf Course Login", "#{request.base_url}/courses/sign_in", :class => "btn" %> |
      <%= link_to "Player Create Account", "#{request.base_url}/players/sign_up", :class => "btn" %>
      <%= link_to "Player Login", "#{request.base_url}/players/sign_in", :class => "btn" %>
    </div>
  </header>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
